In [1]:
import torch

In [2]:
torch.cuda.is_available()

True

In [3]:
import pandas as pd
import numpy as np
from pathlib import Path
import datetime

In [4]:
import logging
logging.basicConfig()
logger = logging.getLogger(__name__)
logger.setLevel(logging.INFO)

In [5]:
RAW_DATA_FOLDER = Path("../data/raw/")
PROCESSED_DATA_FOLDER = Path("../data/processed/")

spain_sales_raw = RAW_DATA_FOLDER / "spanish_sales.csv"

In [6]:
sales_df = pd.read_csv(spain_sales_raw, parse_dates=True,dtype={"customer_id": int, "product_id": int})

In order to have a uniformed way with rating let us add a dummy data raw `ratings`

In [7]:
sales_df['rating'] = 1.0
sales_df.date = pd.to_datetime(sales_df.date)

In [8]:
sales_df.rename(columns={'customer_id':'uid',
                          'product_id':'mid',
                          'date':'timestamp'}, 
                 inplace=True)

In [9]:
sales_df.head()

       uid     mid  timestamp  rating
0  9134527  386652 2019-05-06     1.0
1  9134527  386652 2019-05-06     1.0
2  9134527  464466 2019-05-06     1.0
3  9134527   55815 2019-05-06     1.0
4  9134527   55815 2019-05-06     1.0

In [10]:
sales_df.dtypes

uid                   int64
mid                   int64
timestamp    datetime64[ns]
rating              float64
dtype: object

In [11]:
def load_data(data_dir, MIN_RATINGS=4):
    ml_dir = data_dir
    sales_df = pd.read_csv(spain_sales_raw, parse_dates=True,dtype={"customer_id": int, "product_id": int})
    sales_df['ratings'] = 1.0
    sales_df.date = pd.to_datetime(sales_df.date)
    sales_df.rename(columns={'customer_id':'uid',
                          'product_id':'mid',
                          'date':'timestamp'}, 
                 inplace=True)
    df = sales_df.copy()

    # first let us filter out the users with less than MIN_RATINGS interations
    logger.info(
        "Filtering out users with less than {} ratings".format(MIN_RATINGS))
    grouped = df.groupby('uid')
    df = grouped.filter(lambda x: len(x) >= MIN_RATINGS).copy()

    # now let us factoriyze (re-index users)
    logger.info("Mapping original user and item IDs to new sequential IDs")
    df['userId'] = pd.factorize(df['uid'])[0]
    df['itemId'] = pd.factorize(df['mid'])[0]

    logger.info('Range of userId is [{}, {}]'.format(
        df.userId.min(), df.userId.max()))
    logger.info('Range of itemId is [{}, {}]'.format(
        df.userId.min(), df.itemId.max()))

    num_users = len(df['userId'].unique())
    num_items = len(df['itemId'].unique())
    logger.info("num_users is {}, num_items is {}".format(
        num_users, num_items))

    return df, num_users, num_items

In [12]:
data, num_users, num_items = load_data(spain_sales_raw)

INFO:__main__:Filtering out users with less than 4 ratings
INFO:__main__:Mapping original user and item IDs to new sequential IDs
INFO:__main__:Range of userId is [0, 204100]
INFO:__main__:Range of itemId is [0, 6112]
INFO:__main__:num_users is 204101, num_items is 6113

In [13]:
data.shape

(3299776, 6)

In [14]:
item_pool = set(data['itemId'].unique())
item_pool_np = np.array(data['itemId'].unique())

In [15]:
len(item_pool)

6113

In [20]:
import random
from tqdm import tqdm

In [ ]:
def sample_negatives_low_mem(ratings):
    """return all negative items & 100 sampled negative items"""
    logger.info("sampling negatives with low mem")
    # raitings = dd.from_pandas(ratings,npartitions=4)

    def sample_negatives_per_user(x):
        set_interacted = set(x)
        set_non_interacted = item_pool.difference(set_interacted)
        return random.sample(set_non_interacted, 99)

    interact_status = ratings.groupby('userId')['itemId'].apply(set).reset_index().rename(
        columns={'itemId': 'interacted_items'})
    # interact_status['negative_items'] = interact_status['interacted_items'].apply(
    #     lambda x: self.item_pool - x)
    interact_status['negative_samples'] = interact_status['interacted_items'].apply(sample_negatives_per_user)
    return interact_status[['userId', 'negative_samples']]

In [ ]:
sample_negatives_low_mem(data)

In [30]:
def prepare_epoch_low_mem(data, num_negatives, batch_size):
    tqdm.pandas()
    def sample_negatives_per_user_per_epoch(x):
        set_interacted = set(x)
        set_non_interacted = item_pool.difference(set_interacted)
        return random.sample(set_non_interacted, num_negatives)
    users, items, ratings = [], [], []
    # TODO: this is very bad to do it before every epoch, but, for now this makes it readable
    interact_status = data.groupby('userId')['itemId'].apply(set).reset_index().rename(
        columns={'itemId': 'interacted_items'})        
    train_epoch_with_negatives = pd.merge(data,
                                          interact_status[['userId', 'interacted_items']], on='userId')
    train_epoch_with_negatives['epoch_sampled_negatives'] = train_epoch_with_negatives['interacted_items'].progress_apply(sample_negatives_per_user_per_epoch)
    return train_epoch_with_negatives

In [31]:
prepare_epoch_low_mem(data, 4, 1024)

100%|██████████| 3299776/3299776 [09:07<00:00, 6028.57it/s]

,uid,mid,timestamp,ratings,userId,itemId,interacted_items,epoch_sampled_negatives
0,9134527,386652,2019-05-06,1.0,0,0,"{0, 1, 2, 3, 131, 389, 1547, 5387, 3083, 4240,...","[297, 6074, 4793, 5350]"
1,9134527,386652,2019-05-06,1.0,0,0,"{0, 1, 2, 3, 131, 389, 1547, 5387, 3083, 4240,...","[2429, 5563, 244, 371]"
2,9134527,464466,2019-05-06,1.0,0,1,"{0, 1, 2, 3, 131, 389, 1547, 5387, 3083, 4240,...","[230, 5692, 2040, 1217]"
3,9134527,55815,2019-05-06,1.0,0,2,"{0, 1, 2, 3, 131, 389, 1547, 5387, 3083, 4240,...","[3134, 4002, 1237, 3451]"
4,9134527,55815,2019-05-06,1.0,0,2,"{0, 1, 2, 3, 131, 389, 1547, 5387, 3083, 4240,...","[3502, 5953, 2022, 5381]"
5,9134527,569151,2019-05-06,1.0,0,3,"{0, 1, 2, 3, 131, 389, 1547, 5387, 3083, 4240,...","[4785, 2533, 1785, 2631]"
6,9134527,386652,2019-06-20,1.0,0,0,"{0, 1, 2, 3, 131, 389, 1547, 5387, 3083, 4240,...","[3152, 5394, 5503, 5101]"
7,9134527,386652,2019-06-20,1.0,0,0,"{0, 1, 2, 3, 131, 389, 1547, 5387, 3083, 4240,...","[4651, 4161, 2114, 4632]"
8,9134527,413435,2019-06-20,1.0,0,2030,"{0, 1, 2, 3, 131, 389, 1547, 5387, 3083, 4240,...","[4343, 2060, 4690, 3203]"
9,9134527,506758,2019-06-20,1.0,0,1547,"{0, 1, 2, 3, 131, 389, 1547, 5387, 3083, 4240,...","[511, 1798, 1872, 5261]"
10,9134527,55815,2019-06-20,1.0,0,2,"{0, 1, 2, 3, 131, 389, 1547, 5387, 3083, 4240,...","[2980, 4508, 5750, 4077]"
11,9134527,55815,2019-06-20,1.0,0,2,"{0, 1, 2, 3, 131, 389, 1547, 5387, 3083, 4240,...","[4434, 3783, 1227, 1272]"
12,9134527,55977,2019-06-20,1.0,0,131,"{0, 1, 2, 3, 131, 389, 1547, 5387, 3083, 4240,...","[4118, 5948, 249, 386]"
13,9134527,56255,2019-06-20,1.0,0,703,"{0, 1, 2, 3, 131, 389, 1547, 5387, 3083, 4240,...","[3036, 3756, 1142, 1719]"
14,9134527,569151,2019-06-20,1.0,0,3,"{0, 1, 2, 3, 131, 389, 1547, 5387, 3083, 4240,...","[2906, 3569, 592, 3294]"
15,9134527,605910,2019-06-20,1.0,0,319,"{0, 1, 2, 3, 131, 389, 1547, 5387, 3083, 4240,...","[189, 5286, 1070, 1308]"
16,9134527,748919,2019-06-20,1.0,0,3636,"{0, 1, 2, 3, 131, 389, 1547, 5387, 3083, 4240,...","[1018, 5782, 5764, 4164]"
17,9134527,386652,2019-08-07,1.0,0,0,"{0, 1, 2, 3, 131, 389, 1547, 5387, 3083, 4240,...","[933, 301, 756, 2624]"
18,9134527,386652,2019-08-07,1.0,0,0,"{0, 1, 2, 3, 131, 389, 1547, 5387, 3083, 4240,...","[5338, 2033, 1141, 4438]"
19,9134527,55815,2019-08-07,1.0,0,2,"{0, 1, 2, 3, 131, 389, 1547, 5387, 3083, 4240,...","[1549, 604, 2011, 2543]"
20,9134527,55815,2019-08-07,1.0,0,2,"{0, 1, 2, 3, 131, 389, 1547, 5387, 3083, 4240,...","[2605, 3602, 5069, 2196]"
21,9134527,55977,2019-08-07,1.0,0,131,"{0, 1, 2, 3, 131, 389, 1547, 5387, 3083, 4240,...","[5138, 193, 203, 2109]"
22,9134527,56255,2019-08-07,1.0,0,703,"{0, 1, 2, 3, 131, 389, 1547, 5387, 3083, 4240,...","[1288, 5255, 4206, 2443]"
23,9134527,564896,2019-08-07,1.0,0,4062,"{0, 1, 2, 3, 131, 389, 1547, 5387, 3083, 4240,...","[4547, 664, 4668, 650]"
24,9134527,605910,2019-08-07,1.0,0,319,"{0, 1, 2, 3, 131, 389, 1547, 5387, 3083, 4240,...","[1541, 1616, 902, 3682]"
25,9134527,748864,2019-08-07,1.0,0,3741,"{0, 1, 2, 3, 131, 389, 1547, 5387, 3083, 4240,...","[1308, 168, 3010, 5224]"
26,9134527,386652,2019-09-14,1.0,0,0,"{0, 1, 2, 3, 131, 389, 1547, 5387, 3083, 4240,...","[501, 1848, 4364, 4766]"
27,9134527,413435,2019-09-14,1.0,0,2030,"{0, 1, 2, 3, 131, 389, 1547, 5387, 3083, 4240,...","[5475, 3056, 4080, 4679]"
28,9134527,464081,2019-09-14,1.0,0,4836,"{0, 1, 2, 3, 131, 389, 1547, 5387, 3083, 4240,...","[4351, 1946, 3869, 505]"
29,9134527,530962,2019-09-14,1.0,0,1330,"{0, 1, 2, 3, 131, 389, 1547, 5387, 3083, 4240,...","[2603, 1480, 6004, 4117]"
...,...,...,...,...,...,...,...,...
3299746,27328261,207840,2020-05-05,1.0,204095,51,"{131, 1478, 51, 52, 1848, 122}","[1739, 5069, 3840, 3012]"
3299747,27328261,360542,2020-05-05,1.0,204095,1848,"{131, 1478, 51, 52, 1848, 122}","[4635, 4685, 2895, 3828]"
3299748,27328261,55977,2020-05-05,1.0,204095,131,"{131, 1478, 51, 52, 1848, 122}","[4683, 4900, 2485, 137]"
3299749,27328261,56159,2020-05-05,1.0,204095,1478,"{131, 1478, 51, 52, 1848, 122}","[2026, 119, 4252, 2142]"
3299750,27328261,623838,2020-05-05,1.0,204095,52,"{131, 1478, 51, 52, 1848, 122}","[4390, 4207, 328, 1905]"
3299751,22637461,337489,2020-05-05,1.0,204096,1384,"{1384, 2715, 44}","[4217, 3958, 4712, 3341]"
3299752,22637461,55809,2020-05-05,1.0,204096,44,"{1384, 2715, 44}","[5039, 1200, 4548, 2181]"
3299753,22637461,721668,2020-05-05,1.0,204096,2715,"{1384, 2715, 44}","[4333, 1722, 1912, 1429]"
3299754,22637461,721668,2020-05-05,1.0,204096,2715,"{1384, 2715, 44}","[3258, 2543, 5435, 3616]"
3299755,27328284,100097,2020-05-05,1.0,204097,259,"{259, 139, 6060, 205, 1079}","[1521, 263, 2581, 3242]"
3299756,27328284,139604,2020-05-05,1.0,204097,205,"{259, 139, 6060, 205, 1079}","[1414, 3544, 614, 2037]"
3299757,27328284,210406,2020-05-05,1.0,204097,139,"{259, 139, 6060, 205, 1079}","[3697, 5716, 3391, 238]"
3299758,27328284,278422,2020-05-05,1.0,204097,1079,"{259, 139, 6060, 205, 1079}","[5694, 4892, 3889, 4464]"
3299759,27328284,888016,2020-05-05,1.0,204097,6060,"{259, 139, 6060, 205, 1079}","[2514, 3433, 1211, 3345]"
3299760,27328279,107239,2020-05-05,1.0,204098,2718,"{1826, 2279, 1321, 49, 696, 605, 2718}","[1453, 778, 5497, 74]"
3299761,27328279,153555,2020-05-05,1.0,204098,49,"{1826, 2279, 1321, 49, 696, 605, 2718}","[3859, 2046, 1498, 5238]"
3299762,27328279,169637,2020-05-05,1.0,204098,1826,"{1826, 2279, 1321, 49, 696, 605, 2718}","[5593, 1804, 3684, 2150]"
3299763,27328279,195580,2020-05-05,1.0,204098,1321,"{1826, 2279, 1321, 49, 696, 605, 2718}","[3232, 5651, 1300, 1324]"
3299764,27328279,223992,2020-05-05,1.0,204098,2279,"{1826, 2279, 1321, 49, 696, 605, 2718}","[5218, 915, 1529, 1860]"
3299765,27328279,338495,2020-05-05,1.0,204098,605,"{1826, 2279, 1321, 49, 696, 605, 2718}","[830, 4802, 3536, 1804]"
3299766,27328279,559976,2020-05-05,1.0,204098,696,"{1826, 2279, 1321, 49, 696, 605, 2718}","[720, 3477, 79, 5009]"
3299767,27328314,407551,2020-05-05,1.0,204099,1180,"{152, 5274, 1955, 1180}","[4926, 2958, 1047, 4025]"
3299768,27328314,408132,2020-05-05,1.0,204099,1955,"{152, 5274, 1955, 1180}","[3156, 867, 994, 4500]"
3299769,27328314,625565,2020-05-05,1.0,204099,152,"{152, 5274, 1955, 1180}","[5028, 748, 1284, 4829]"
3299770,27328314,782691,2020-05-05,1.0,204099,5274,"{152, 5274, 1955, 1180}","[4801, 254, 1708, 3087]"
3299771,10856738,145771,2020-05-05,1.0,204100,2710,"{1247, 4262, 2710, 282, 3871}","[1174, 873, 1810, 273]"
3299772,10856738,540276,2020-05-05,1.0,204100,1247,"{1247, 4262, 2710, 282, 3871}","[1438, 4315, 1964, 4564]"
3299773,10856738,55808,2020-05-05,1.0,204100,282,"{1247, 4262, 2710, 282, 3871}","[1443, 4224, 1597, 4890]"
3299774,10856738,751707,2020-05-05,1.0,204100,3871,"{1247, 4262, 2710, 282, 3871}","[5097, 18, 5237, 1473]"
3299775,10856738,756834,2020-05-05,1.0,204100,4262,"{1247, 4262, 2710, 282, 3871}","[209, 2120, 3260, 4816]"

In [ ]:
# import numpy as np
# from multiprocessing import cpu_count, Parallel
 
# cores = cpu_count() #Number of CPU cores on your system
# partitions = cores #Define as many partitions as you want
 
# def parallelize(data, func):
#     data_split = np.array_split(data, partitions)
#     pool = Pool(cores)
#     data = pd.concat(pool.map(func, data_split))
#     pool.close()
#     pool.join()
#     return data

# data = parallelize(data, work);

In [ ]:
data['rank_latest'] = data.groupby(['userId'])['timestamp'].rank(
    method='first', ascending=False)

In [ ]:
from tqdm import tqdm

In [ ]:
tqdm.pandas()

In [ ]:
interact_status = data.groupby('userId')['itemId'].apply(np.unique).reset_index().rename(
    columns={'itemId': 'interacted_items'})

In [ ]:
item_pool_np

In [ ]:
interact_status_np = interact_status.to_numpy()

In [ ]:
interact_status_np

In [ ]:
item_pool_np

In [ ]:
#!!!!!!!
np.repeat(item_pool_np[np.newaxis, :], interact_status_np.shape[0], axis=0)

In [ ]:
np.setdiff1d(interact_status_np[:,2], np.repeat(item_pool_np[np.newaxis, :], interact_status_np.shape[0], axis=0))

In [ ]:
# blows out of 32 GB
np.hstack((interact_status_np, np.repeat(item_pool_np[np.newaxis, :], interact_status_np.shape[0], axis=0)))