In [1]:
import torch

In [16]:
import pandas as pd
import numpy as np

from pathlib import Path

import logging
logging.basicConfig()
logger = logging.getLogger(__name__)
logger.setLevel(logging.INFO)

In [8]:
import autoreload
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [12]:
RAW_DATA_FOLDER = Path("../data/raw/")
PROCESSED_DATA_FOLDER = Path("../data/processed/")

In [17]:
def load_zpls_data(data_dir, MIN_RATINGS=4):
    ml_dir = data_dir
    sales_df = pd.read_csv(
        spain_sales_raw, parse_dates=True, dtype={"customer_id": int, "product_id": int}
    )
    sales_df["rating"] = 1.0
    sales_df.date = pd.to_datetime(sales_df.date)
    sales_df.rename(
        columns={"customer_id": "uid", "product_id": "mid", "date": "timestamp"},
        inplace=True,
    )
    df = sales_df

    # first let us filter out the users with less than MIN_RATINGS interations
    logger.info("Filtering out users with less than {} ratings".format(MIN_RATINGS))
    grouped = df.groupby("uid")
    df = grouped.filter(lambda x: len(x) >= MIN_RATINGS).copy()

    # now let us factoriyze (re-index users)
    logger.info("Mapping original user and item IDs to new sequential IDs")
    df["userId"] = pd.factorize(df["uid"])[0]
    df["itemId"] = pd.factorize(df["mid"])[0]

    logger.info("Range of userId is [{}, {}]".format(df.userId.min(), df.userId.max()))
    logger.info("Range of itemId is [{}, {}]".format(df.userId.min(), df.itemId.max()))

    num_users = len(df["userId"].unique())
    num_items = len(df["itemId"].unique())
    logger.info("num_users is {}, num_items is {}".format(num_users, num_items))

    return df, num_users, num_items

In [18]:
spain_sales_raw = RAW_DATA_FOLDER / "spanish_sales.csv"
data, num_users, num_items = load_zpls_data(spain_sales_raw)

INFO:__main__:Filtering out users with less than 4 ratings
INFO:__main__:Mapping original user and item IDs to new sequential IDs
INFO:__main__:Range of userId is [0, 204100]
INFO:__main__:Range of itemId is [0, 6112]
INFO:__main__:num_users is 204101, num_items is 6113

In [19]:
data.head()

       uid     mid  timestamp  rating  userId  itemId
0  9134527  386652 2019-05-06     1.0       0       0
1  9134527  386652 2019-05-06     1.0       0       0
2  9134527  464466 2019-05-06     1.0       0       1
3  9134527   55815 2019-05-06     1.0       0       2
4  9134527   55815 2019-05-06     1.0       0       2

In [20]:
from torch.utils.data import DataLoader, Dataset

In [22]:
class TrainDataset(Dataset):
    def __init__(self):
        pass
    
    def __getitem(self, index):
        pass
    
    def __len__(self):
        pass

In [23]:
class SampleTrainGenerator:
    def __init__(self,ratings):
        pass